grid = "venus"
columns = [
    "1fr",
    "1fr",
    "1fr",
    "1fr",
    "1fr",
    "1fr",
    "1fr",
]
rows = [
    "1fr",
    "1fr",
    "1fr",
    "1fr",
    "1fr",
    "1fr",
    "1fr",
]
is_sleeping = false

[[tiles]]
id = "audio_vis_1"
col = 0
row = 0
colspan = 2
rowspan = 2
module = "audio_vis"
enabled = true

[tiles.settings.config]
color_scheme = "Rainbow"
sensitivity = 0.800000011920929
vis_type = "SpectrumBars"

[tiles.settings.keybinds]
freeze = "f"
next_vis = "n"
mute = "m"

[[tiles]]
id = "audio_vis_2"
col = 2
row = 0
colspan = 2
rowspan = 2
module = "audio_vis"
enabled = true

[tiles.settings.config]
color_scheme = "Rainbow"
sensitivity = 0.800000011920929
vis_type = "SpectrumBars"

[tiles.settings.keybinds]
mute = "m"

[[tiles]]
id = "astrology_display"
col = 4
row = 0
colspan = 3
rowspan = 2
module = "astro"
enabled = true

[tiles.settings.config]
show_degrees = true
show_moon = true

[tiles.settings.keybinds]
refresh = "r"

[[tiles]]
id = "kamea_sigil"
col = 0
row = 2
colspan = 3
rowspan = 3
module = "kamea"
enabled = true

[tiles.settings.config]
glow_intensity = 0.20000000298023224
grid_size = 5
path_color = [
    0.0,
    1.0,
    1.0,
]
show_grid_dots = true
stroke_weight = 2.5

[tiles.settings.keybinds]
increase_grid = "]"
decrease_grid = "["
toggle_dots = "d"

[[tiles]]
id = "text_input"
col = 3
row = 2
colspan = 4
rowspan = 3
module = "text_input"
enabled = true

[tiles.settings.config]

[tiles.settings.keybinds]
clear = "c"

[[tiles]]
id = "clock"
col = 0
row = 5
colspan = 2
rowspan = 2
module = "clock"
enabled = true

[tiles.settings.config]
format = "TwentyFourHour"
show_date = false
show_seconds = true

[tiles.settings.keybinds]
toggle_format = "t"
toggle_seconds = "s"

[[patches]]
id = "patch_1"
source_module = "aphrodite"
source_port = "astro_out"
sink_module = "astrology_display"
sink_port = "astro_in"

[[patches]]
id = "patch_2"
source_module = "editor"
source_port = "text_out"
sink_module = "word_count"
sink_port = "text_in"

[[patches]]
id = "patch_3"
source_module = "editor"
source_port = "text_out"
sink_module = "devowelizer"
sink_port = "text_in"

[[patches]]
id = "patch_4"
source_module = "editor"
source_port = "text_out"
sink_module = "kamea_printer"
sink_port = "text_in"

[[patches]]
id = "patch_5"
source_module = "aphrodite"
source_port = "astro_out"
sink_module = "kamea_printer"
sink_port = "astro_in"
