grid = "audio_demo"
columns = [
    "1fr",
    "1fr",
    "1fr",
    "1fr",
]
rows = [
    "1fr",
    "1fr",
    "1fr",
]
is_sleeping = false

[[tiles]]
id = "audio_viz"
col = 0
row = 0
colspan = 2
rowspan = 2
module = "audio_viz"
enabled = true

[tiles.settings.config]
color_scheme = "CyanReactive"
sensitivity = 1.0
vis_type = "Oscilloscope"

[tiles.settings.keybinds]
freeze = "f"
next_vis = "n"
mute = "m"

[[tiles]]
id = "audio_output"
col = 2
row = 0
colspan = 2
rowspan = 1
module = "audio_output"
enabled = true

[tiles.settings.config]

[tiles.settings.keybinds]

[[tiles]]
id = "clock"
col = 2
row = 1
colspan = 2
rowspan = 1
module = "clock"
enabled = true

[tiles.settings.config]
format = "TwentyFourHour"
show_date = false
show_seconds = true

[tiles.settings.keybinds]
toggle_format = "t"
toggle_seconds = "s"

[[patches]]
id = "patch_audio_1"
source_module = "audio_input"
source_port = "audio_out"
sink_module = "audio_dsp"
sink_port = "audio_in"

[[patches]]
id = "patch_audio_2"
source_module = "audio_dsp"
source_port = "audio_out"
sink_module = "audio_viz"
sink_port = "audio_in"

[[patches]]
id = "patch_audio_3"
source_module = "audio_dsp"
source_port = "audio_out"
sink_module = "audio_output"
sink_port = "audio_in"
