columns = [
    "40%",
    "1fr",
    "250px",
]
rows = [
    "1fr",
    "1fr",
    "1fr",
]
is_sleeping = false

[[tiles]]
id = "editor_pane"
col = 0
row = 0
colspan = 1
rowspan = 2
module = "editor"
enabled = true

[[tiles]]
id = "dvwl_pane"
col = 2
row = 0
colspan = 1
rowspan = 1
module = "devowelizer"
enabled = true

[[tiles]]
id = "audio_pane"
col = 0
row = 1
colspan = 1
rowspan = 1
module = "audio_input"
enabled = true

[[tiles]]
id = "word_count_new"
col = 2
row = 2
colspan = 1
rowspan = 2
module = "word_count"
enabled = true

[[patches]]
id = "patch_1"
source_module = "aphrodite"
source_port = "astro_out"
sink_module = "astrology_display"
sink_port = "astro_in"

[[patches]]
id = "patch_2"
source_module = "editor"
source_port = "text_out"
sink_module = "word_count"
sink_port = "text_in"

[[patches]]
id = "patch_3"
source_module = "editor"
source_port = "text_out"
sink_module = "devowelizer"
sink_port = "text_in"

[[patches]]
id = "patch_4"
source_module = "editor"
source_port = "text_out"
sink_module = "kamea_printer"
sink_port = "text_in"

[[patches]]
id = "patch_5"
source_module = "aphrodite"
source_port = "astro_out"
sink_module = "kamea_printer"
sink_port = "astro_in"
