grid = "audio_demo"
columns = [
    "1fr",
    "1fr",
    "1fr",
    "1fr",
]
rows = [
    "1fr",
    "1fr",
    "1fr",
]
is_sleeping = false
power_profile = "Normal"

[parakeet_stt]
model_dir = "/home/emmy/git/trt-asr-engine/out"
device = 0
use_fp16 = true
first_chunk_frames = 592
chunk_frames = 584
advance_frames = 8
# engine_fp16 = "/home/emmy/git/trt-asr-engine/out/trt_engines/encoder_streaming_fp16.plan"
# engine_fp32 = "/home/emmy/git/trt-asr-engine/out/trt_engines/encoder_streaming_fp32.plan"

[[tiles]]
id = "audio_viz"
col = 0
row = 0
colspan = 2
rowspan = 1
module = "audio_viz"
enabled = true

[tiles.settings.config]
color_scheme = "CyanReactive"
sensitivity = 1.0
vis_type = "SpectrumBars"

[tiles.settings.keybinds]
next_vis = "v"
freeze = "f"
inc_sens = "equals"
dec_sens = "minus"
mute = "m"
next_theme = "c"

[[tiles]]
id = "audio_output"
col = 2
row = 2
colspan = 1
rowspan = 1
module = "audio_output"
enabled = true

[tiles.settings.config]

[tiles.settings.keybinds]
mute = "m"

[[tiles]]
id = "audio_input"
col = 2
row = 1
colspan = 1
rowspan = 1
module = "audio_input"
enabled = true

[tiles.settings.config]
device = "Default"

[tiles.settings.keybinds]
mute = "m"

[[tiles]]
id = "audio_dsp"
col = 3
row = 0
colspan = 1
rowspan = 1
module = "audio_dsp"
enabled = true

[tiles.settings.config]
gain = 1.0
lowpass_enabled = false
lowpass_hz = 2000.0

[tiles.settings.keybinds]
mute = "m"

[[tiles]]
id = "transcription"
col = 0
row = 1
colspan = 2
rowspan = 2
module = "transcription"
enabled = true

[tiles.settings.config]
ui_min_update_ms = 40

[tiles.settings.keybinds]

[[tiles]]
id = "parakeet_stt"
col = 3
row = 1
colspan = 1
rowspan = 1
module = "parakeet_stt"
enabled = true

[tiles.settings.config]

[tiles.settings.keybinds]

[[tiles]]
id = "clock"
col = 2
row = 0
colspan = 1
rowspan = 1
module = "clock"
enabled = true

[tiles.settings.config]
format = "TwentyFourHour"
show_date = false
show_seconds = true

[tiles.settings.keybinds]
toggle_format = "t"
toggle_seconds = "s"

[[patches]]
id = "p1"
source_module = "audio_input"
source_port = "audio_out"
sink_module = "audio_dsp"
sink_port = "audio_in"

[[patches]]
id = "p2"
source_module = "audio_dsp"
source_port = "audio_out"
sink_module = "audio_viz"
sink_port = "audio_in"

[[patches]]
id = "p3"
source_module = "audio_dsp"
source_port = "audio_out"
sink_module = "audio_output"
sink_port = "audio_in"

[[patches]]
id = "p4"
source_module = "audio_dsp"
source_port = "audio_out"
sink_module = "parakeet_stt"
sink_port = "audio_in"

[[patches]]
id = "p5"
source_module = "parakeet_stt"
source_port = "stt_out"
sink_module = "transcription"
sink_port = "stt_in"
