[package]
name = "audio_input"
version = "0.1.0"
edition = "2021"

[dependencies]
cpal = "0.15"
talisman_core = { path = "../../core" }
log = "0.4"
tokio = { version = "1.0", features = ["sync", "time"] }
anyhow = "1.0"
serde_json = "1.0"
crossbeam-channel = "0.5"
num-traits = "0.2"
async-trait = "0.1"
